// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$brown: #E0AC69;

// Override Bootstrap default state colors

$primary: $brown;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
